@use '../../styles/mixins.scss' as m;

#nav-bar {
    @include m.GlassmorphMain;
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-top: 0.44rem;
    padding-bottom: 0.44rem;

    a {
        padding: 0.31rem 0.9rem;
        font-size: 1.5rem;
        font-family: Montserrat;
        font-weight: 500;
        font-variant: small-caps;
        text-decoration: none;

        &.active {
            @include m.GlassmorphMain;
            border-radius: 20px;
        }
    }
}