@use 'mixins' as m;
@use 'variables' as v;

input {
    @include m.GlassmorphMore;
    font-family: Montserrat;
    border: none;
    border-radius: v.$borderRadius;
    padding: 0.2rem 0.3rem;

    color: v.$white1;
    text-align: center;
}

select {
    @include m.GlassmorphMore;
    border: none;
    border-radius: v.$borderRadius;
    padding: 0.25rem;

    font-family: Montserrat;
    color: v.$white2;

    option {
        color: v.$darkPurple;
    }
}

.separator {
    margin: 0 auto;
    height: 1px;
    width: 80%;
    border: none;
    background-color: v.$transPink;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.box {
    @include m.GlassmorphMain;
    border-radius: v.$borderRadius;
    padding: 0.625rem;
    width: fit-content;

    h2 {
        margin: 0.625rem 0;
    }
}

.data-box {
    padding: 0.625rem;

    p {
        margin: 0;
    }

    &.wide {
        min-width: 350px;
    }
}

.clickable {
    cursor: pointer;
    user-select: none;
    scale: 1;
    transition: scale 100ms linear;

    &:hover {
        scale: 1.02;
    }

    &:active {
        scale: 1;
    }
}