@use './variables.scss' as v;

@font-face {
    font-family: Montserrat;
    src: url('/src/render/assets/fonts/Montserrat-Variable.ttf') format('truetype');
}

:root {
    font-size: 100%;
}

body {
    font-family: Montserrat, Roboto, Arial, sans-serif;
    color: v.$white2;
}

a {
    color: v.$white1;
}

label {
    font-size: 0.875rem;
    font-weight: 500;
    font-variant: all-small-caps;
}


h2 {
    font-weight: 500;
    text-align: center;
    font-variant: small-caps;
}