// COLOURS
$white1 : #F0F0F0;
$white2: rgba(240, 240, 240, 0.8);
$white3: rgba(240, 240, 240, 0.65);
$white4: rgba(240, 240, 240, 0.45);
$white5: rgba(240, 240, 240, 0.25);
$accentPink : #D48FB8;
$accentPurple : #BE8DFD;
$accentRed : #FF2929;
$accentGreen : #1BBE2B;
$accentBlue : #1e47ce;
$accentYellow : #d8cb1d;
$transPink: rgba(212, 143, 184, 0.25);
$darkPurple : #000614;
$darkPurple2 : #202634;

// Bla bla
$borderRadius : 20px;